input.btn {
    background-color:#42a5f5 ;
}
button.waves-effect {
    background-color: #42a5f5;
    text-align: center;
    align-content: center;
}
body,html{ height:100%; margin:0;}
    
#conteiner{min-height:100%; }
 
#content {
    width: 800px;
    margin:0 auto;
    position: relative;
    background: #CCC;
    margin-bottom:202px;
}
    
    
#header-top {
    height: 40px;
    width: auto;
    background: #6ec5ff;
    border-bottom: 3px solid #0099ff;
}
 
#footer {
    width: auto;
    height: 200px;
    position: relative;
    
    margin-top:-200px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: #333;
    border-top: 2px solid #000;
 
}
section.main-container {
    background-color: aqua;
}

#login{
    background-color: #e1f5fe;
}
button.btn.btn-ingresar {
    background-color: #42a5f5;
    text-align: center;
    align-content: center;
}

.card-header {
    margin-top: auto;
    margin-top: 600px;
    background-color: cornflowerblue;
}


footer.page-footer {
    background-color:  #0099ff;
}
.line{
    background: #21bbef;
    height: 10px;
    z-index: -5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}
.footer{
    padding: 5px;
    background:  #0099ff;
    box-shadow: 0 0 10px;
    color: whitesmoke;
}
